{
  "rules": {
    "semi": ["error", "never"],
    "no-console": "off",
    "no-nested-ternary": "off",
    "linebreak-style": "off"
  },
  "env": {
    "node": true,
    "es6": true
  },
  "extends": "airbnb",
  "parser": "babel-eslint"
}
